
<%= form_for wiki do |f| %>
	<% if wiki.errors.any? %>
		<div class="alert alert-danger">
			<h4> There are <%= pluralize(wiki.errors.count, "errors") %></h4>
			<ul>
					<% wiki.errors.full_message.each do |msg| %>
						<li><%= msg %></li>

					<% end %>
			</ul>
		</div>
	<% end %>

	<%= f.label :title %>
	<%= f.text_field :title, class: 'form-control', placehoder: 'Enter a Wiki name.' %>
	<%= f.label :body %>
	<%= f.text_area :body, rows:8, class: 'form-control', placehoder: 'Enter the body.'%><br />
	<% if current_user.role == 'premium' || current_user.role == 'admin' %>
	<%= f.label "Please check if you want it to be private?"%>
	<%= f.check_box :private %><br />
	<% end %>
	<%= f.submit "Preview with Markdown", class: 'btn btn-info' %>
	<%= f.submit "Save", class: 'btn btn-success', name: 'create_and_save' %>



<% end %>


